<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sopha</title>
    <!-- START ONE SIGNAL -->
    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="async"></script>
    <!-- END ONE SIGNAL -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J7CRJNB8RJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BGJVP76TNL');
  </script>
  </head>
  <body>
    <div id="wrapper"></div>
    <div id="portal-wrapper"></div>
  </body>
</html>
